<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="title">
        <h2>Hotel info widget</h2>
      </div>
      <div class="container d-flex justify-content-around align-items-center flex-column">
        <div class="wrapper d-flex justify-content-between">
          <div class="hotels-list">
            <mat-card class="example-card">
              <mat-card-content>
                <img class="header-img" mat-card-image src={{currentHotel.picture}} alt={{currentHotel.title}}>
              </mat-card-content>
              <mat-card-content>
                <input type="text" class="form-control" placeholder="Search hotel" [(ngModel)]="searchStr">
              </mat-card-content>
              <mat-card-actions>
                <mat-tab-group>
                  <mat-tab label="List of hotels">
                    <mat-list role="list" *ngFor="let hotel of hotels | search: searchStr">
                      <mat-list-item style="cursor:pointer;" (click)="choiceHotel(hotel)" role="listitem">{{hotel.title}}</mat-list-item>
                    </mat-list>
                  </mat-tab>
                  <mat-tab label="Adress"> {{currentHotel.address}} </mat-tab>
                  <mat-tab label="Phone"> {{currentHotel.phone}} </mat-tab>
                </mat-tab-group>
              </mat-card-actions>
              <mat-card-actions>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="widget-bar d-flex justify-content-around flex-column">
            <app-weather [hotel]="currentHotel"></app-weather>
            <app-profile [hotel]="currentHotel"></app-profile>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
