<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <h1 style="text-align: center; margin: 0 auto; color:aqua">{{hotel.title}}</h1>
          </mat-card-title>
          <mat-card-subtitle>{{hotel.description}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{hotel.picture}} alt={{hotel.title}}>
        <img mat-card-image *ngFor="let photo of hotel.photos" src={{photo}} alt={{hotel.title}}>
        <mat-card-content>
          <app-weather [weather]="hotel.weather"></app-weather>
        </mat-card-content>
        <mat-card-actions>
          <app-profile [profile]="hotel.profile"></app-profile>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
